button {
	transition: background-color 0.25s ease-in-out;
}

input {
	transition: border 0.25s ease-in-out;
}

div#settings,
div#home,
button > span,
button > svg,
span#added,
select,
#update,
.spinner {
	transition: all 0.25s ease-in-out;
}
