@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@import 'scss/loader';
@import 'scss/login';
@import 'scss/settings';
@import 'scss/home';
@import 'scss/animation';
@import 'scss/vars';

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
html,
body {
	height: 100vh;
	margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 24px;
	background: #161616;
	color: rgba(255, 255, 255, 0.9);
	border: 1px solid rgba(255, 255, 255, 0.1);
	overflow-y: hidden;
}

section {
	display: grid;
	grid-template-rows: 32px 1fr 32px;
	height: 100vh;
}

header {
	-webkit-app-region: drag;
	display: grid;
	grid-template-columns: auto 138px;

	//was #window-title
	div#windowTitle {
		grid-column: 1;
		display: flex;
		align-items: center;
		padding-left: 8px;
		letter-spacing: 0.1em;
		overflow: hidden;

		span {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	//was #window-controls
	.windowControls {
		display: grid;
		grid-template-columns: repeat(3, 46px);
		-webkit-app-region: no-drag;

		button {
			grid-row: 1 / span 1;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			user-select: none;
			background: rgba(255, 255, 255, 0);
			outline: none;

			img {
				pointer-events: none;
			}
		}
		button:hover {
			background: rgba(255, 255, 255, 0.1);
		}
		button#btnRestore {
			display: none !important;
		}
		button#btnClose:hover {
			background: #e81123 !important;
		}
		button#btnMin {
			grid-column: 1;
		}
		button#btnMax,
		button#btnRestore {
			grid-column: 2;
		}
		button#btnClose {
			grid-column: 3;
		}
	}
}

header.maximized {
	button#btnRestore {
		display: flex !important;
	}

	.button#btnMax {
		display: none;
	}
}

div#main {
	display: grid;
	align-self: center;
	height: 100%;
	position: relative;
	overflow: hidden;
}

div#home.open,
div#settings.open {
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}
div#home.close {
	transform: scale(0.75);
	opacity: 0;
	pointer-events: none;
}
div#settings.close {
	transform: scale(1.25);
	opacity: 0;
	pointer-events: none;
}

div.container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: grid;
	grid-template-rows: 96px 1fr;

	div.topBar {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		align-content: center;

		button {
			width: 40px;
			height: 40px;
			background-color: transparent;
			outline: none;
			cursor: pointer;

			img,
			svg {
				pointer-events: none;
			}
			svg {
				fill: $white;
			}
		}

		button#settings {
			display: grid;
			grid-template-columns: 1fr 40px;
			width: auto;
			align-items: center;

			span {
				font-weight: 700;
				text-transform: uppercase;
				position: relative;
				right: 0px;
				opacity: 0;
			}
		}

		button#back.off {
			pointer-events: none;
			opacity: 0;
		}
		button#back {
			pointer-events: initial;
			opacity: 1;
		}

		button#settings:hover > span {
			right: 25px;
			opacity: 1;
			color: $blue;
		}
		button#settings:hover > svg {
			transform: rotate(-90deg);
			fill: $blue;
		}
		button#back:hover > svg {
			transform: translate(-15px);
			fill: $blue;
		}
		button.pfp {
			background-color: rgba(0, 0, 0, 0.5);
			display: flex;
			border-radius: 100px;
			cursor: default;

			img {
				width: 100%;
				border-radius: 100px;
			}
		}

		div.leftBar {
			padding-left: 32px;
		}
		div.title {
			display: flex;
			justify-content: center;
			align-content: center;
		}
		h1 {
			font-weight: bold;
			font-size: 28px;
			line-height: 29px;
			letter-spacing: 0.05em;
			color: transparent;
			color: rgba(255, 255, 255, 0.3);
		}

		div.rightBar {
			justify-self: end;
			display: grid;
			grid-template-columns: 1fr 40px;
			gap: 24px;
			padding-right: 32px;
		}
	}
}

footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-self: center;
	height: 100%;

	div.left {
		align-self: center;
		padding-left: 8px;
		display: grid;
		grid-template-columns: auto auto auto 1fr;
		gap: 16px;
	}
	div.right {
		text-align: right;
		width: 100%;
		padding-right: 8px;
		height: 100%;
		align-items: center;
		display: flex;
		justify-content: flex-end;
	}
	span#added {
		margin-right: 8px;
		opacity: 0;
	}
	span#added.show {
		opacity: 1 !important;
	}
	span#added > img {
		height: 8px;
		margin-right: 8px;
	}
}

.ui-small {
	font-size: 12px;
	line-height: 11px;
	letter-spacing: 0.05em;
}
.ui-xsmall {
	font-size: 11px;
	line-height: 10px;
	letter-spacing: 0.05em;
}
.ui-green {
	color: #9efbc9;
}
.ui-white {
	color: rgba(255, 255, 255, 0.8);
}
.ui-gray {
	color: rgba(255, 255, 255, 0.4);
}
.text-white {
	color: rgba(255, 255, 255, 0.9);
}
